extends ../../layout/layout
include ../../modules/parallax/parallax.pug
include ../../modules/intro/intro.pug
include ../../modules/about/about.pug
include ../../modules/section/section.pug

include ../../modules/sidebar/sidebar.pug

block meta
  meta(name="keywords" value="бытовка, купить, во Владимире, в Москве, недорого")
  meta(name="description" value="Продажа бытовок и хозблоков в Московской, Владимирской и Калужской областях. Собственное производство, низкие цены, поставка без предоплаты")
  
block title
  title Купить бытовоку и хозблок недорого. Владимирская, Московская и Калужская области

block links
  link(href="./landing-page.scss" rel="stylesheet")
  link(href="../../assets/fonts/fontawesome/css/all.css" rel="stylesheet")

block scripts
  script(src="landing-page.js" type="module")

block content

  .landing-page
  
    +parallax()
    +intro({
      text: "Производство и продажа бытовок и хозблоков",
      title: {staticString: "приветствуем ", changingString: ["нам можно доверять", "мы делаем жизнь легче"]},
      char: "|",
      buttons: [
        {color: "white", type: "button", href: "top", text: "button"},
        {color: "yellow", type: "button", href: "/mock-address/change-me", text: "button"},
      ]
    })
    +about({
      title: "о нас",
      text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
    })
    +section({
      color: "lightgrey",
      title: "услуги",
      section: "services",
      columnsNum: "3",
      cards: [
        {
          cardTitle: "Продажа",
          cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo.",
          cardIcon: "local_mall",
        },
        {
          cardTitle: "Доставка", 
          cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo.",
          cardIcon: "local_shipping"},
        {
          cardTitle: "Сборка на участке", 
          cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo.",
          cardIcon: "build",
        },
        { cardTitle: "Сборка на участке", 
          cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo.",
          cardIcon: "monetization_on",
        },
      ]
    })

    +section({
      color: "white",
      title: "факты",
      section: "facts",
      columnsNum: "4",
      cards: [
        {title: "заказано", icon: "fa-desktop", count: "23"},
        {title: "довольных хозяев", icon: "fa-cogs", count: "20"},
        {title: "с окнами", icon: "fa-tablet", count: "21"},
        {title: "с установкой", icon: "fa-mobile", count: "23"},
      ]
    })

    +section({
      color: "white",
      title: "наши работы",
      section: "our work",
      columnsNum: "3",
      cards: [
        {cardTitle: "Watching", cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo."},
        {cardTitle: "Taking a rest", cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo."},
        {cardTitle: "Doing nothing", cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo."},
        {cardTitle: "Watching", cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo."},
        {cardTitle: "Taking a rest", cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo."},
        {cardTitle: "Doing nothing", cardText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nisl, iaculis eget magna non, semper lobortis tellus. Integer arcu neque, tristique et lobortis eu, ullamcorper a leo."},
      ]
    })
    +sidebar()