extends ../../layout/layout

block meta
  meta(name="keywords" value="бытовка, купить, во Владимире, в Москве, недорого")
  meta(name="description" value="Продажа бытовок и хозблоков в Московской, Владимирской и Калужской областях. Собственное производство, низкие цены, поставка без предоплаты")
  
block title
  title Купить бытовоку и хозблок недорого. Владимирская, Московская и Калужская области

block links
  link(href="./landing-page.scss" rel="stylesheet")

block content
  .landing-page
    include ../../modules/header/header.pug
    +header()