.card-services {
  width: 100%;
  cursor: pointer;

  &:hover .card-services__image {
    background-color: rgba($black, $aFirst);
  }

  &__image {
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    background-color: $yellow;
    color: $white;
    transition: background-color 0.2s linear;
  }

  &__info {
    padding: 1.25rem;
    background-color: $white;
  }

  &__title {
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: $blackSecondary;
  }

  &__text {
    color: $grey;
  }
}