.button-with-border {
  padding: 17px 25px;
  border: 2px solid;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;

  &_color_white {
    border-color: $white;
    color: $white;

    &:hover {
      background-color: $white;
      color: $blackSecondary;
    }
  }

  &_color_yellow {
    border-color: $yellow;
    color: $yellow;

    &:hover {
      background-color: $yellow;
      color: $white;
    }
  }

  &__text {
    font-size: 0.9375rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}