.sidebar {
  position: fixed;
  top: 0.625rem;
  right: 1.25rem;
  cursor: pointer;

  &__button {
    width: 1.8125rem;
    height: 1.8125rem;
    //border: 1px solid orange;

    &:before {
      content: '';
      display: block;
      width: 0.125rem; //2px
      height: 1.5rem; //24px
      position: absolute;
      transform-origin: center center;
      transform: translate(0.77rem, 0.1rem);
      background-color: $white;
    }

    &:after {
      content: '';
      display: block;
      width: 0.125rem;
      height: 1.5rem;
      position: absolute;
      transform-origin: center center;
      transform: translate(0.77rem, 0.1rem) rotate(90deg);
      background-color: $white;
    }
  }
}