@font-face {
  font-family: 'Raleway';
  font-weight: bold;
  font-style: normal;
  src: url('../../assets/fonts/raleway-bold/raleway-bold.woff') format('woff');
  src: url('../../assets/fonts/raleway-bold/raleway-bold.svg') format('svg');
  src: url('../../assets/fonts/raleway-bold/raleway-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/raleway-regular/raleway-regular.woff') format('woff');
  src: url('../../assets/fonts/raleway-regular/raleway-regular.svg') format('svg');
  src: url('../../assets/fonts/raleway-regular/raleway-regular.ttf') format('truetype');
}