.socials {
  display: flex;
  justify-content: space-between;

  &__item {
    width: 30px;
    margin: 0 7px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}