mixin card-facts({title, icon, count})
  .card-facts
    .card-facts__title-wrap
      .card-facts__title= title
    .card-facts__icon-wrap
      i.card-facts__icon.fa(class = icon)
    .card-facts__counter= count