include ../button-with-border/button-with-border.pug

mixin intro({title, text, char, buttons})
  .intro
    .intro__content
      div.intro__text
        span.intro__static-string= title.staticString
        div.intro__changing-string-wrapper.js-intro__changing-string-wrapper
          each string in title.changingString
            span.intro__changing-string= string   
          
      h1.intro__title= text
      .intro__buttons
        each button in buttons
          .intro__button-with-border
            +button-with-border(button)