.header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba($black, $aFirst);
  padding: 0.425rem 0 1.0125rem 2.5rem;
}