.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($black, $aFirst);
  //height: 63px;
  padding: 0.625rem 2.5rem 0.8125rem; //1.6875rem;

  &__logo {
    //width: 100px;
    //height: 100px;
  }

  &__sidebar {
    color: $white;
  }
}

@import '../logo/logo.scss';