.header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: rgba($black, $aFirst);
  padding: 3px 40px 1.0125rem 40px;
}