mixin contacts(options)
  .contacts
    .contacts__phone-wrap
      .contacts__phone-image
        i.material-icons.md-14 phone
      .contacts__phone-number= options.phone
    .contacts__mail-wrap
      .contacts__mail-image
        i.material-icons.md-14 email
      .contacts__mail-text= options.mail
      