doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    block meta
    block title
    block links
    block scripts

  body
    block content